mcp[cli]
boto3
PyPDF2
python-docx
numpy
pandas
openpyxl
lancedb
python-dotenv
langchain
langchain-text-splitters
pyjwt
aiohttp
requests
fastapi
uvicorn
python-crontab
mangum
python-pptx
python-multipart